server:
  port: 8331

spring:
  graphql:
    http:
      path: /graphql
  
  datasource:
    url: jdbc:h2:file:./data/anycharts
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  
  h2:
    console:
      enabled: true
      path: /h2-console
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: false
  
  sql:
    init:
      mode: always
      data-locations: classpath:data.sql